@charset "UTF-8";

@font-face {
  font-family: "CircularStd-Medium";
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Medium";
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  padding: 16px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  margin: 0 4px 0 0;
  width: 22.4px;
  height: 16px;
  color: #222525;
  background-color: #ffffff;
  border: none;
  position: relative;
}

.header__btn::after {
  content: "";
  width: 22.4px;
  height: 2px;
  background-color: #222525;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 7px 0 0 #222525, 0 14px 0 0 #222525;
          box-shadow: 0 7px 0 0 #222525, 0 14px 0 0 #222525;
}

.header__search {
  display: none;
  position: relative;
}

.header__search input {
  height: 40px;
  background: rgba(242, 244, 248, 0.5);
  border: 0.7px solid rgba(61, 72, 83, 0.2);
  border-radius: 4px;
}

.header__search img {
  position: absolute;
  top: 12px;
  right: 20px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 40px;
  margin: 0 25px 0 0;
  position: relative;
}

.header__block:last-child {
  margin: 0 0;
}

.header__block img {
  top: 0px;
  left: 47%;
}

.header__block a {
  color: #222525;
}

.header__item {
  width: 16px;
  height: 16px;
}

.header__item_3 {
  position: relative;
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 0.5px solid rgba(61, 72, 83, 0.5);
}

.header__item_3 img {
  height: 18px;
  width: 15px;
  position: relative;
  top: 10px;
  left: 0px;
}

.header__null {
  position: absolute;
  right: -6px;
  top: 4px;
  background: #AC145A;
  width: 13px;
  height: 13px;
  font-size: 9px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
}

.header__price {
  display: none;
  position: absolute;
  left: 46px;
  top: 1px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
}

.header__block:nth-child(2),
.header__block:nth-child(3) {
  display: none;
}

.head {
  display: none;
}

.head .menu-head {
  padding: 16px 0;
}

.head .menu-head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .menu-head__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222525;
}

.head .menu-head__link span {
  color: #AC145A;
}

.head .menu-head__link img {
  width: 15px;
  height: 16px;
  margin: 0 8px 0 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.footer-header p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

#menuHidden,
#menuHidden1 {
  display: none;
}

.list,
.list0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list li,
.list0 li {
  margin: 8px 0;
}

.list li img,
.list0 li img {
  margin: 0 8px 0 0;
}

.list li a,
.list0 li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}

.list2,
.list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list2 li,
.list3 li {
  margin: 0 20px 0 0;
}

.social-service {
  margin: 0 0 32px 0;
}

.social-service__header {
  margin: 30px 0 20px 0;
}

.social-service img {
  width: 32px;
  height: 32px;
}

.social-service__link {
  display: none;
}

.security-service {
  margin: 0 0 32px 0;
}

.items-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 24px 0;
  width: 195px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #AC145A;
}

.items-policy_terms {
  padding: 0 14px 0 0;
  border-right: 0.7px solid #d8dadd;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: CircularStd-Medium;
  font-weight: normal;
  min-width: 360px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0px 20px;
}

.plus {
  position: absolute;
  left: 90%;
  top: 25%;
  height: 24px;
  width: 24px;
}

.close {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 6px;
  top: 6px;
  opacity: 0.5;
}

.close:before,
.close:after {
  content: " ";
  position: absolute;
  height: 16px;
  width: 2px;
  border-radius: 1px;
}

.close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.area {
  min-height: 48px;
  padding: 5px 53px;
  background-color: #222525;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.area__text {
  font-family: CircularStd-Medium;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.area__text span {
  font-weight: 700;
}

.area__close:before,
.area__close:after {
  background-color: #FFFFFF;
}

.covid {
  min-height: 52px;
  background: #F2F4F8;
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.covid__text {
  font-family: CircularStd-Medium;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.covid__text span {
  font-weight: 700;
}

.covid .close:before,
.covid .close:after {
  background-color: #3D4853;
}

.pagination {
  display: none;
}

.pagination__inner {
  padding: 16px 0;
}

.pagination__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.pagination__inner ul li {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(61, 72, 83, 0.5);
  margin: 0 3px 0 3px;
}

.pagination__inner ul li:last-child {
  color: #222525;
}

.pagination__inner ul li:after {
  content: "/";
  padding: 0 0 0 6px;
}

.pagination__inner ul li:last-child:after {
  content: " ";
}

.slider__body {
  min-height: 430px;
  padding: 0 20px;
  position: relative;
  background: #F2F4F8;
}

.slider__item {
  position: relative;
  min-height: 414px;
  padding: 70px 0 0 20px;
}

.slider__img {
  min-height: 282px;
}

.slider__title {
  position: absolute;
  top: 22px;
  left: 0px;
  border-radius: 2px;
  background: #222525;
  font-family: CircularStd-Medium;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
}

.slider__text {
  position: absolute;
  right: 0px;
  top: 22px;
  background: #F2F4F8;
  font-family: CircularStd-Medium;
  border-radius: 2px 0px 0px 2px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
}

.slider__icon {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 16px;
  bottom: 0px;
  -webkit-box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.09);
          box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.09);
  border-radius: 50%;
  padding: 11px;
}

.slider .slick-slider {
  /*... в слайдере*/
}

.slider .slick-slider .slick-dots {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 47%;
  bottom: 24px;
}

.slider .slick-slider .slick-dots li {
  margin: 0px 3px;
}

.slider .slick-slider .slick-dots li button {
  font-size: 0;
  width: 7px;
  height: 3px;
  border-radius: 10px;
  background: rgba(61, 72, 83, 0.5);
  opacity: 0.3;
  border: none;
}

.slider .slick-slider .slick-dots li.slick-active button {
  background-color: #222525;
  width: 14px;
  height: 3px;
  opacity: 1;
}

.info {
  padding: 20px 0;
  position: relative;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.7px solid rgba(61, 72, 83, 0.2);
}

.info__title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 0 8px 0;
}

.info__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 12px 0;
  font-weight: normal;
}

.info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0 0 13px 0;
}

.info__stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #AC145A;
}

.info__stars li:before {
  content: "★";
  width: 14px;
  height: 14px;
}

.info__stars li:last-child {
  color: #d8dadd;
}

.info__figure {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgba(61, 72, 83, 0.5);
  margin: 0 4px 0 89px;
}

.info__reviews {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(61, 72, 83, 0.5);
}

.info__stock {
  margin: 0 0 12px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
}

.info__stock span {
  color: #219653;
}

.info__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #222525;
  margin: 0 0 20px 0;
}

.container_border {
  border-bottom: 0.7px solid rgba(61, 72, 83, 0.2);
}

.colors__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.colors__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.colors__name span {
  color: rgba(61, 72, 83, 0.5);
}

.colors__show {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #AC145A;
}

.colors__palette {
  margin: 0 0 22px 0px;
}

.colors__opens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colors .hid {
  display: none;
}

.colors .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colors__circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 8px 8px 0;
}

.colors__circle:last-child {
  margin: 0 0px;
}

.colors__circle:hover {
  -webkit-box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d8dadd;
          box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d8dadd;
}

.colors__hidden {
  display: none;
}

.colors__question {
  padding: 0 21px 21px 0;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors__bliss {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #222525;
}

.colors__bliss span {
  color: #B93272;
}

.colors__what {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(61, 72, 83, 0.5);
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #222525;
}

.body_shade {
  position: relative;
}

.body_shade:before {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 28%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: -o-linear-gradient(bottom, #fff, transparent);
  background: linear-gradient(to top, #fff, transparent);
}

.overview .overview__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  algn-items: flex-start;
}

.overview__img {
  width: 52px;
  height: 52px;
  margin: 20px 0 8px 0;
}

.overview__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
  margin: 0 0 8px 0;
}

.overview__all {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  margin: 0 0 20px 0;
}

.overview__caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 8px 0;
}

.overview__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px 0;
}

.overview__btn {
  text-align: center;
}

.overview__btn a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AC145A;
}

.components__body {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.components__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 10px 18px 0;
}

.components__arrow {
  height: 8px;
}

.components__ingridient {
  display: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

._no-webp .advice__body{
  background-image: url("../img/MaskMin.png"); }

.advice__body {
  background-color: #FAEDF3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100px;
  position: relative;
  width: 100%;
}

.advice__title {
  position: absolute;
  width: 109px;
  height: 17px;
  left: 20px;
  top: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #AC145A;
}

.advice__text {
  position: absolute;
  max-width: 252px;
  left: 20px;
  bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #AC145A;
}

.advice__click {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 8px;
  top: 33px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 12px;
}

.button_show {
  text-align: center;
  margin: 0 0 20px 0;
}

.button_show a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AC145A;
}

.reviews__body {
  margin: 20px 0;
}

.reviews__title {
  margin: 0 0 18px 0;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #AC145A;
}

.reviews__stars li:before {
  content: "★";
  width: 14px;
  height: 14px;
}

.reviews__stars li:last-child {
  color: #d8dadd;
}

.reviews__click {
  padding: 13px 25px;
  border: 0.7px solid rgba(61, 72, 83, 0.2);
  border-radius: 4px;
  line-height: 14px;
  line-height: 14px;
}

.reviews__btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #222525;
}

.reviews__content {
  margin: 0 0 20px 0;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.reviews__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.reviews__reting {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #AC145A;
}

.reviews__reting li:before {
  content: "★";
  width: 14px;
  height: 14px;
}

.reviews__color {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.reviews__color p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.reviews__color span {
  color: #9B9B9B;
}

.reviews__circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0 8px 0 0;
}

.reviews__desrip {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222525;
  margin: 0 0 20px 0;
}

.reviews__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 24px 0;
}

.reviews__user {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #9B9B9B;
}

.reviews__days {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #9B9B9B;
}

.delivery {
  margin: 0 0 56px 0;
}

.delivery__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.delivery__title {
  margin: 0 0 20px 0;
}

.delivery__img {
  width: 100px;
  height: 72px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.08);
          box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.08);
  border-radius: 4px;
  position: relative;
}

.delivery__img img {
  position: absolute;
  width: 68px;
  height: 25px;
  top: 18px;
  left: 16px;
}

.delivery__img span {
  position: absolute;
  bottom: 15px;
  left: 26px;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: rgba(155, 155, 155, 0.7);
}

.delivery__subtitle {
  width: 190px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222525;
}

.delivery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery__column {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222525;
  margin: 0 0 12px 0;
}

.delivery__column_1 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(61, 72, 83, 0.5);
}

.carusel {
  margin: 0 0 62px 0;
}

.carusel__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #222525;
  margin: 0 0 36px 0;
}

.carusel__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 308px;
  padding: 20px 0 0 0;
  max-width: 178px;
}

.carusel__img {
  min-height: 204px;
}

.carusel__title {
  margin: 20px 0 4px 0px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(61, 72, 83, 0.5);
}

.carusel__info {
  padding: 0 12px;
  margin: 0 0 12px 0;
}

.carusel__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222525;
}

.carusel__price {
  margin: 12px 0 0px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #222525;
}

.carusel__favorite {
  position: absolute;
  top: 16px;
  right: 15px;
}

.carusel .slick-slider {
  position: relative;
  /*... в слайдере*/
}

.carusel .slick-slider .slick-list {
  overflow: hidden;
}

.carusel .slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.carusel .slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carusel .slick-slider .slick-dots li button {
  font-size: 0;
  width: 80px;
  height: 3px;
  border-radius: 10px;
  background: #F2F4F8;
  opacity: 1;
  border: none;
}

.carusel .slick-slider .slick-dots li.slick-active button {
  background-color: #3D4853;
  opacity: 0.15;
}

.carusel .slick-slider .carusel__body {
  position: relative;
}

.carusel .slick-slider .slick-arrow {
  position: absolute;
  top: 32%;
  z-index: 2;
  font-size: 0;
  width: 10px;
  height: 16px;
  border: none;
}

._no-webp .carusel .slick-slider .slick-prev{
  background: url("../img/icons/prev.png") 0 0/100% no-repeat; }

.carusel .slick-slider .slick-prev {
  left: 0px;
}

._no-webp .carusel .slick-slider .slick-next{
  background: url("../img/icons/next.png") 0 0/100% no-repeat; }

.carusel .slick-slider .slick-next {
  right: 0;
}

.back {
  border-top: 0.7px solid rgba(61, 72, 83, 0.2);
}

.back__body {
  padding: 14px 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222525;
}

.back__arrow {
  width: 20px;
  height: 20px;
  background: #F2F4F8;
  border-radius: 4px;
  position: relative;
  margin: 0 0 0 2px;
}

.back__arrow img {
  position: absolute;
  left: 5px;
  top: 7px;
}

.callback {
  margin: 14px 0 37px 0;
}

.callback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0px 0 18px 0;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 6px 0 0;
}

.callback__input .input {
  width: 100%;
  height: 52px;
  border: 0.7px solid rgba(61, 72, 83, 0.2);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
}

.callback__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85px;
          flex: 0 0 85px;
}

.callback__btn {
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  height: 52px;
  background: #222525;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .header__search {
    display: block;
    width: 300px;
  }

  .header__block {
    margin: 0 36px 0 0;
  }

  .container {
    padding: 0px 30px;
  }

  .covid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .head {
    display: block;
  }

  .pagination {
    display: block;
  }

  .slider__body {
    background: #FFFFFF;
  }

  ._no-webp .advice__body{
    background-image: url("../img/mask.png"); }

  .advice__body {
    background-color: #FAEDF3;
  }

  .carusel {
    padding: 0 20px;
  }

  .callback__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .callback__input {
    width: 300px;
    margin: 0 24px 0 57px;
  }

  .callback__btn {
    width: 111px;
  }
}

@media (min-width: 1024px) {
  .footer__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px 0 0;
  }

  .customer-service p {
    font-size: 14px;
    line-height: 16px;
  }

  .customer-service__arrow,
  .about-service__arrow,
  .items-policy {
    display: none;
  }

  .customer-service,
  .about-service,
  .contact-service,
  .social-service {
    margin: 0 50px 0 0;
  }

  #menuHidden,
  #menuHidden1 {
    display: block;
  }

  .list,
  .list1,
  .list2,
  .list0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .list li,
  .list1 li,
  .list2 li,
  .list0 li {
    margin: 0 20px 16px 0;
  }

  .list li a,
  .list1 li a,
  .list2 li a,
  .list0 li a {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222525;
    opacity: 0.7;
  }

  .list li:nth-child(3),
  .list2 li:nth-child(3) {
    margin: 0;
  }

  .list3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .list3 li {
    margin: 0 20px 15px 0;
  }

  .social-service__header {
    margin: 0px 0 20px 0;
  }

  .social-service img {
    display: none;
  }

  .social-service__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .social-service__header {
    margin: 0 0 20px 0;
  }

  .container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .carusel {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .header__search {
    display: block;
    width: 500px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .carusel {
    padding: 0 45px;
  }
}

@media (min-width: 1366px) {
  .header__search {
    display: block;
    width: 600px;
  }

  .header__block:nth-child(2),
  .header__block:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__block:nth-child(1),
  .header__block:nth-child(4) {
    display: none;
  }

  .header__price {
    display: block;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .header__search {
    display: block;
    width: 743px;
  }

  .footer__service-security {
    width: 204px;
  }

  .customer-service,
  .about-service,
  .contact-service,
  .social-service {
    margin: 0 70px 0 0;
  }

  .container {
    max-width: 1260px;
  }

  .slider__body {
    max-width: 760px;
  }

  .components__item {
    border: none;
  }

  .components__title {
    font-size: 16px;
  }

  .components__ingridient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 0 0 20px 0;
    border-bottom: 0.7px solid rgba(61, 72, 83, 0.2);
  }

  .components__ingridient:before {
    content: "";
    position: absolute;
    bottom: 31%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
    background: -o-linear-gradient(bottom, #fff, transparent);
    background: linear-gradient(to top, #fff, transparent);
  }

  .components__arrow {
    display: none;
  }

  .components__guerlain {
    padding: 16px 16px 16px 19px;
    text-transform: uppercase;
    width: 123px;
    height: 40px;
    background: rgba(242, 244, 248, 0.5);
    background: red;
    border-radius: 4px;
    color: #000000;
  }

  .components__guerlain:before {
    content: "";
    position: absolute;
    bottom: 26%;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
    background: -o-linear-gradient(bottom, #fff, transparent);
    background: linear-gradient(to top, #fff, transparent);
  }

  .carusel {
    padding: 0 74px;
  }

  .carusel__body {
    position: relative;
    max-width: 1440px;
  }

  .callback__title {
    font-size: 24px;
    line-height: 27px;
  }

  .callback__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .callback__input {
    width: 427px;
    margin: 0 24px 0 57px;
  }

  .callback__btn {
    width: 111px;
  }
}

@media screen and (min-width: 1440px) {
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #main_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 720px;
            flex: 1 0 720px;
  }

  #main_right {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 526px;
            flex: 1 0 526px;
  }
}

._webp .advice__body{ background-image: url(../img/MaskMin.webp); }

._webp .carusel .slick-slider .slick-prev{ background: url(../img/icons/prev.webp) 0 0/100% no-repeat; }

._webp .carusel .slick-slider .slick-next{ background: url(../img/icons/next.webp) 0 0/100% no-repeat; }

@media (min-width: 768px){

  ._webp .advice__body{ background-image: url(../img/mask.webp); }
}